.container-form {
   display: flex;
   height: 90vh;
   justify-content: center;
}

#title {
   display: block;
   width: 97% !important;
   margin: auto;
   background: var(--light);
   outline: none;
   border: none;
   font-family: productSans;
   font-size: 20px;
   color: var(--white);
   padding: 10px;
   border-radius: 7px;
}

.inputs {
   height: 90vh;
   width: 50%;
}

.form-group {
   border-radius: 12px;
   font-family: monospace !important;
}

.CodeMirror,
.cm-s-dracula {
   font-family: monospace;
   border-radius: 7px;
   height: 60vh !important;
   margin: 30px 0;
}

.create {
   display: block;
   font-family: productSans;
   margin: auto;
   background-color: var(--main);
   outline: none;
   border: none;
   color: var(--light);
   font-size: 20px;
   padding: 10px;
   border-radius: 5px;
   transition: 0.1s linear all;
}

.create:hover {
   cursor: pointer;
   transform: scale(1.05, 1.05);
}
