$primaryColour: #fcb86d;
$secondaryColour: #60c6ee;

$dangerColour: #c24f4f;

$backgroundColour: #16171e;

.footer-text {
	color: $primaryColour;
}

.footer {
	border-radius: 12px;
	padding: 10px;
	background-color: #282a36;
}

.block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.snips-created {
	color: $primaryColour;
}

.string {
	color: greenyellow !important;
}
