$primaryColour: #fcb86d;
$secondaryColour: #60c6ee;

$dangerColour: #c24f4f;

$backgroundColour: #16171e;

.new-title {
	letter-spacing: 5px;
	display: flex;
	font-size: 65px;
	color: $primaryColour;
	justify-content: center;
	text-decoration: none;
}

.new-title:hover {
	color: $secondaryColour;
}

.description-website {
	font-weight: 900;
	display: flex;
	color: $secondaryColour;
	justify-content: center;
}

.warning {
	text-align: center;
	padding: 10px;
	background: $dangerColour;
	border-radius: 5px;
	color: $backgroundColour;
}
