$lightBlue: #60c6ee;
$gray: #5c5c5c;

$lightBlueHover: #45a4ca;
$grayHover: #272727;

.twitter {
	text-decoration: none;
	color: $lightBlue;
}

.twitter:hover {
	color: $lightBlueHover;
}

.github {
	text-decoration: none;
	color: $gray;
}

.github:hover {
	color: $grayHover;
}

.source {
	text-decoration: none;
	color: $gray;
}

.source:hover {
	color: $grayHover;
}

.harsh {
	text-decoration: none;
	color: $lightBlue;
}

.harsh:hover {
	color: $lightBlueHover;
}
