<footer>
    <div class="button">
        <button class="create" onclick="addCode()" type="submit">snippet.Create()</button>
    </div>
    <div class="bottom">
        <div class="footer">
            <div class="block">
                <p class="footer-text">made with love and javascript by <a href="https://github.com/harshhhdev" class="harsh">harshhhdev</a>. <a class="source" href="https://github.com/harshhhdev/snip-bin">view source.</a></p>
            </div>
        </div>
    </div>
</footer>