<div class="container-form">

  <div class="inputs">
    <div class="normal">
      <div class="title">
        <input required value="<%= snippet.title %>" type="text" name="title" id="title" class="form-title" autocomplete="off" spellcheck="false" placeholder="title">
      </div>
      <div class="description">
        <textarea name="description" id="description" class="form-description" placeholder="description"><%= snippet.description %></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <textarea required id="editor" class="editor""></textarea>
    </div>
  </div>

  <div class="buttons">
    <!-- <a href="/" class="btn btn-secondary">Cancel</a>-->
    <button type="submit" class="btn create">Create Snippet</button>
  </div>
</div>