<div class="container-form">

  <div class="inputs">
    <div class="normal">
      <div class="title">
        <input required value="<%= snippet.title %>" type="text" name="title" id="title" class="form-title" autocomplete="off" spellcheck="false" placeholder="snippet title">
      </div>
      <div class="description">
        <textarea name="description" id="description" class="form-description" placeholder="snippet description"><%= snippet.description %></textarea>
      </div>
      <div class="form-group">
        <textarea id="editor"></textarea>
  
        <textarea required name="code" id="code"></textarea>
  
        <div class="button">
          <button class="create" onclick="addCode()" type="submit">Create Snippet</button>
        </div>
      </div>
    </div>
  </div>
</div>