<header>
    <a href="/" style="text-decoration: none;"><h1 class="logo"><img src="/components/icon.svg" class="icon" draggable="false" />Snip<span class="green">Bin</span></h1></a>
    <p class="description">The lightweight, speedy fast, elegant and open source code pasting tool</p>
    <p class="warning">Your script is too large!</p>
</header>