<div class="container">
    <a class="new-title" href="https://snip-bin.herokuapp.com/">SnipBin</a>
    <p class="description-website">A blazing fast, lightweight, elegant and open-source tool for pasting, sharing and storing code snippets.</p>
</div>
<div class="warning">
      This is an early alpha version of the website. If you spot any bugs, please contact me via <a href="https://twitter.com/HarshhhDev" class="twitter">Twitter</a>, or open up an issue on <a href="https://github.com/harshhhdev/snip-bin/issues" class="github">GitHub</a>
</div>