<title>SnipBin</title>
<link rel="shortcut icon" href="/components/icon.svg" />
<meta name="title" content="SnipBin"/>
<meta property="og:title" content="SnipBin"/>
<meta property="twitter:title" content="SnipBin"/>
<meta name="description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://snipbin.herokuapp.com/"/>
<meta property="og:description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
<meta property="twitter:url" content="https://snipbin.herokuapp.com/"/>
<meta property="twitter:description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta name="theme-color" content="#64FF8F"/>

<link rel="stylesheet" href="/main.css" type="text/css" >