<div class="container-form">

  <div class="inputs">
    <div class="normal">
      <div class="title">
        <input required value="<%= snippet.title %>" type="text" name="title" id="title" class="form-title" autocomplete="off" spellcheck="false" placeholder="paste title">
      </div>
      <div class="form-group">
        <textarea id="editor"></textarea>
  
        <textarea required name="code" id="code" style="display: none;"></textarea>
      </div>
      <%- include('_footer.ejs') %>
    </div>
  </div>
</div>