<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SnipBin</title>

  <link rel="stylesheet" href="/all.css" type="text/css" >
  <link rel="stylesheet" href="/codemirror.css" type="text/css">
  <link rel="stylesheet" href="/dracula.css" type="text/css">
</head>
<body>
  <div class="container">
    <a class="new-title">SnipBin</a>

    <form action="/snippet" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>

<script src="/codemirror.js" type="text/javascript"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    theme: "dracula",
    lineWrapping: true,
    lineNumbers: true
  });
</script>

</html>