<!DOCTYPE html>
<html lang="en">
<head>
  <title>SnipBin</title>
  <meta name="title" content="SnipBin"/>
  <meta property="og:title" content="SnipBin"/>
  <meta property="twitter:title" content="SnipBin"/>
  <meta name="description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://snip-bin.herokuapp.com/"/>
  <meta property="og:description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
  <meta property="twitter:url" content="https://snip-bin.herokuapp.com/"/>
  <meta property="twitter:description" content="A blazing fast, lightweight, elegant and open source tool for pasting, sharing and storing code snippets."/>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#fcb86d"/>

  <link rel="stylesheet" href="/all.css" type="text/css" >
  <link rel="stylesheet" href="/codemirror.css" type="text/css">
  <link rel="stylesheet" href="/dracula.css" type="text/css">

</head>
<body>
    <%- include('_header') %>

    <form action="/snippet" method="POST">
      <%- include('_snippet') %>
    </form>
    
  </div>
</body>

<script src="/codemirror.js"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    lineNumbers: true,
    theme: "dracula"
  })

  function addCode() {
    var text = editor.getValue()
    document.getElementById('code').innerHTML = text;
  }
</script>

</html>