<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SnipBin</title>

  <link rel="stylesheet" href="/all.css" type="text/css" >
  <link rel="stylesheet" href="/dracula.css" type="text/css">
</head>
<body>
    <%- include('_header') %>

    <form action="/snippet" method="POST">
      <%- include('_snippet') %>
    </form>
  </div>
</body>

<script src="/codemirror.js"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    lineNumbers: true
  })

  function addCode() {
    var text = editor.getValue()
    document.getElementById('code').innerHTML = text;
  }
</script>

</html>