<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SnipBin</title>

  <link rel="stylesheet" href="/all.css" type="text/css" >
  <link rel="stylesheet" href="/codemirror.css" type="text/css">
  <link rel="stylesheet" href="/dracula.css" type="text/css">
</head>
<body>
  <div class="container">
    <a class="new-title">SnipBin</a>
    <p class="description-website">A blazing fast, lightweight, elegant and open-source tool for pasting, sharing and storing code snippets.</p>
  </div>
  <div class="warning">
      This is an early alpha version of the website. If you spot any bugs, please contact me via <a href="https://twitter.com/HarshhhDev" class="twitter">Twitter</a>, or open up an issue on <a href="https://github.com/harshhhdev/snip-bin/issues" class="github">GitHub</a>
  </div>

    <form action="/snippet" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
</body>

<script src="/codemirror.js"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    lineNumbers: true
  })

  function addCode() {
    var text = editor.getValue()
    document.getElementById('code').innerHTML = text;
  }
</script>

</html>