<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_seo') %>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/dracula.min.css" integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js" integrity="sha512-WWC1A/JchDFZ2ZGaNyMC7CmPFXGLI/6Ih7WN6YG0DX1NGMkW5lqCVFxCmEx3e56Z7iqdQGpO0f+m2t9CJhdb2Q==" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('_header') %>

    <form action="/snippet" method="POST">
      <%- include('_snippet') %>
    </form>

  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    lineNumbers: true,
    theme: "dracula",
    lineWrapping: true,
    matchBrackets: true
  })

  function addCode() {
    var text = editor.getValue()
    const words = text.split(' ').length
    
    if (words <= 1000) {
      document.getElementById('code').value = text
    } else if (words > 1000) {
      console.log ('This is too long! and that also happens to be what she said!')
      console.log ('If you want to be able to post longer scripts and are feeling generous maybe donate to my broke ass.')
      console.log ('or use pastemyst sed lyf')
      console.log(words)

      document.getElementsByClassName('warning')[0].style.display = "block"
    }
  }
</script>

</html>
