<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_seo') %>
  <link rel="stylesheet" href="/hybrid.css" type="text/css">
</head>
<body>
  <%- include('_header') %>
  <div class="container">
    <h1 class="snippet-title"><%= snippet.title %></h1>
    <div class="view-code">
      <pre><code class="snippet-code"><%= snippet.code %></code></pre>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js" integrity="sha512-U12+KlhI3X2EY7U4NJZ+O0wujKcaMQZHABtaiZtE8UrPiK1O3Y4cjBe0mMFyyBptdaf+eh45hqNdsayeLQcneg==" crossorigin="anonymous"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </div>
</body>
</html>