$headerColour: #ffa857;
$headerSize: 84px;

$borderColour: #282A36;
$secondaryColur: #82E9FB;

.inputs {
    margin-left: 40%;
    align-items: center;
}

.normal {
    margin-left: -10%;
    padding: 10px;
}

.title, .description {
    padding: 10px;
}

.form-title, .form-description {
    color: white;
    border: none;
    background-color: $borderColour;
    width: 50%;
    padding: 10px;
    border-radius: 12px;
}

.new-title {
    font-size: $headerSize;
    color: $headerColour;
    margin-left: 38%;
}

.new-title:hover {
    cursor: pointer;
    color: $secondaryColur;
}

.form-group {
    padding: 10px;
    width: 90%;
    margin-left: -25%;
    justify-content: center;
}

.create {
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    background: $headerColour;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-left: 42%;
}

.buttons {
    padding: 20px;
}

.create:hover {
    background: $secondaryColur;
    cursor: pointer;
}