$primaryColour: #fcb86d;
$secondaryColour: #60c6ee;

$dangerColour: #c24f4f;

$backgroundColour: #16171e;

html {
	background: $backgroundColour;
}

.container-form {
	padding: 20px;
}

.description {
	padding: 20px 0px;
}

.CodeMirror,
.cm-s-dracula {
	margin-left: 19%;
	width: 65%;
	border-radius: 12px;
}

.button {
	padding: 20px 0px;
	display: flex;
	justify-content: center;
}

.create {
	color: $backgroundColour;
	border-radius: 12px;
	font-size: 20px;
	padding: 10px;
	border: none;
	background: $primaryColour;
}

.create:hover {
	cursor: pointer;
	background: $secondaryColour;
}
