$primaryColour: #fcb86d;
$secondaryColour: #60c6ee;

$dangerColour: #c24f4f;

$backgroundColour: #16171e;

.snippet-title {
	display: flex;
	justify-content: center;
	color: $primaryColour;
}

.snippet-description {
	display: flex;
	justify-content: center;
	color: $secondaryColour;
}

.snippet-code {
	justify-self: center;
	align-self: center;
	// width: 60%;
	// margin-left: 20%;
	max-width: 1000px;
	color: white;
	border-radius: 12px;
	padding: 10px;
	background-color: #282a36;
	border: 2px solid $primaryColour !important;
}

.view-code {
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.snippet-created {
	display: flex;
	justify-content: center;
	color: #85ffd0;
}
