$headerColour: #ffa857;
$headerSize: 84px;

$borderColour: #282a36;
$secondaryColour: #82e9fb;

.snippet-title {
	text-align: center;
	font-size: 42px;
	color: $headerColour;
}

.snippet-code {
	margin-left: 12%;
	width: 75%;
	color: white;
	border-radius: 12px;
	min-height: 50vh;
	padding: 10px;
	background: $borderColour;
}

.snippet-description {
	text-align: center;
	font-size: 16px;
	padding-bottom: 10px;
	color: $secondaryColour;
}

.snippet-created {
	color: #c7ff74;
	text-align: center;
}
